<%- include('../partials/header') %>
<h1>Bill Splitter</h1>
<div>
    <div>
        <% for (let bills of bill) { %>
            <div class='card mb-4'>
                <div class='card-body'>
                        Bill Total: $<%= bills.bill_total%><br>
                        Tax Percentage: <%= bills.tax_percent%>% <br>
                        Tip Percentage: <%= bills.tip_percent%>%<br>
                        Group Size: <%= bills.group_size%><br> 
                        Split Cost: <h2>$<%= (bills.bill_total
                                        *(bills.tax_percent/100+1)
                                        *(bills.tip_percent/100+1)
                                        /bills.group_size).toFixed(2)%></h2> 
                    <a class='btn btn-outline-success' href='/bills/<%= bills.id %>/edit'>Edit</a>
                </div>
            </div>
        <% } %>
    </div>
    <a class='btn btn-outline-success' href='/bills/new'>Calculate Split Bill</a>
</div>


<%- include('../partials/footer') %>